.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}









// .col-lg-3{
//     box-shadow: 0 4px 8px 0 rgb(0, 0, 0,0.2);
//     max-width: 300px;
//     margin: auto;
//     text-align: center;
//     font-family: Arial;
// }

.contents{
    margin: 10px;
    background-color:#fff ;
    border: 1px solid #ddd;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    padding: 10px ;
    text-align: center;
    transition: all 0.3s ease-in-out;

}

.contents:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 4px rgba(0,0,0,0.2);
}
